@media screen and (max-width:1200px){
.container{
    width: 100%;
    >div{
      padding-left:15px;
      padding-right: 15px;
    }
    .header{
      padding-left:0;
      padding-right: 0;
    }
  }
  .nav{

    .logo{
     span{
       width: 20vw;
       height: 20vw;
       top:-10vw;
       left: calc( 50% - 10vw);
     }
    }



  }

}
@media screen and (max-width:992px){

  .nav{
    font-size: 20px;
    a{
      margin:auto 15px;
      padding: 0 10px;
    }
  }
}
@media screen and (max-width:768px){
  .header{
    >img{
      display: none;
    }
    height: 150px;
    background: url('../img/header_bg.png') no-repeat 50% 50%;
   background-size: cover;
    .logo{
      display: block;
    }
  }

  .nav{
    height: auto;
    position: absolute;
    top:0;
    left: -182px;
    flex-direction: column;
    border: 1px solid $grey-line ;
    background: $white;
    padding-bottom: 35px;
    width:180px;
transition: .5s;
    .logo{
      display: none;
    }

    div{
      flex-direction: column;
      padding-top:0;
      width: 100%;
    }
    .nav-inner{
      padding-top:15px;
    }

    .parent{

      &:hover,ul{
        ul{

          padding-top: 0;
          padding-bottom: 0;
          li{
           height: 0;

          }


        }
      }
    }


    ul.open,ul.open:hover,.parent:hover ul.open{
         position: static;

         background: $white;
         padding-top: .2em;
         padding-bottom: 0em;
         li{
           width: 100%;
           height: 1.2em;
           font-size:inherit;
           margin:auto;
           transition: .5s;
           padding:.15em;
         }



       }
&.open{
  left:-1px;
  z-index: 9999;
}
    .close{
      display: inline-block;
    }

  }
  .welcome-handler{
    margin-top:50px;
  }

  .item{
    &-date{
      span{

        width:90px;
        height: 90px;
        border: 6px solid $grey-round-border;

      }
      i{
        font-size:24px;
      }
    }
  }

}
@media screen and (max-width:500px){
  .item{
    .item{
      &-date{
        span{

          width:60px;
          height: 60px;
          border: 5px solid $grey-round-border;

        }
        i{
          font-size:18px;
        }
      }
      &-top{
        flex-direction: column;
        padding-top: 0;

      }
      &-likes,&-comments{
        border-left:none;
      }
      &-bottom{

        h2{

          font-size:24px;

        }

        }
      }
    }
  }


