$white: #fff;

$font-green:#3eb3a5;
$font-black:#272727;

$font-grey-menu:#bcbcbc;
$font-grey-hello:#a0a0a0;
$font-grey-likes:#c0c0c0;
$font-grey-article:#938e8e;
$font-grey-copyright:#aeaeae;

$grey-menu:#aeaeae;
$grey-line:#ddd7d7;
$grey-read-more-line:#e1e1e1;
$grey-round-border:#ebebeb;
